.news-container {
  max-width: 1250px;
  position: relative;
  margin: auto;
  font-family: Cambria,Georgia,serif;
  font-size: 90%;
}

.news-container {
  margin-bottom: 20px;
}

.news-row-container {
  max-width: 1230px;
  height: 480px;
  margin: 20px 10px 0px 10px;
  padding-top: 0;
}

.news-content-container {
  display: inline-block;
  width: 385px;
  height: 470px;
  background-color: white;
  box-shadow: 5px 7px 13px -1px rgba(49,49,49,0.69);
  border: 5px solid #ededed;
}

.news-content-container:hover{
  cursor: pointer;
}

.news-content-container div {
  width: 385px;
  height: 250px;
  overflow: hidden;
}

.news-content-container img {
  width: 385px;
  height: 250px;
  transform: scale(1);
  transition-duration: .6s;
}

.news-content-container:hover img {
  transform: scale(1.2);
}

.news-content-container a {
  text-decoration: none;
  color: black;
}

.news-content-container a h3 {
  margin: 3px 2px 0px 17px;
  padding-top: 5px;
  color: black;
}

.news-content-container a h3:hover {
  color: #ff7f50;
}

.news-content-container a p {
  margin: 3px 2px 0px 20px;
  padding-top: 7px;
}

.news-content-left {
  float:left;
}

.news-content-center {
  position: relative;
  margin: auto;
  margin-left: 23px;
}

.news-content-right {
  float: right;
}
